@font-face {
	font-family: "Liberation Sans";
	font-weight: 100;
	font-style: normal;
	src: url('media/LiberationSans-Regular.ttf') format('truetype');
}
body {
	margin: 80px auto;
	width: 800px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background: url(media/congreso.jpg) black no-repeat fixed;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 300;
}
a, a:visited {
	text-decoration: none;
	color: rgb(0, 122, 255);
}
a:hover {
	text-decoration: underline;
	color: rgb(0, 122, 255);
}
#heading {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	width: 100%;
}
#heading h1 {
	display: inline;
	margin: 0 12px;
}
#heading .tagline {
	display: inline;
	margin: 0 8px;
	letter-spacing: 0.2em;
}
#heading .corner {
	float: right;
	margin: 8px;
}
#info {
	height: 28px;
	width: 28px;
	background: #333;
	color: #999;
	font-weight: bold;
	display: block;
	text-align: center;
	font-size: 14pt;
	line-height: 30px;
	border-radius: 4px;
	margin: 0;
}
#info:hover {
	color: white;
	background-color: rgb(0, 122, 255);
	text-decoration: none;
}
.container {
	width: 800px;
	margin: 10px auto;
}
.center {
	text-align: center;
}
#intro ol {
	text-indent: 0;
	margin: 0;
	padding: 0;
}
#intro li {
	text-indent: 0;
	list-style-type: none;
	width: 200px;
	margin: 0 20px;
	padding-top: 120px;
	text-align: center;
	float: left;
}
#intro li:nth-child(3n+1) {
	background: url(media/1.png) top center no-repeat;
}
#intro li:nth-child(3n+2) {
	background: url(media/2.png) top center no-repeat;
}
#intro li:nth-child(3n) {
	background: url(media/3.png) top center no-repeat;
}
#voting, #about, #intro, #results {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 40px;
}
#about {
	background-color: rgba(200, 220, 255, 0.8);
}
#voting {
	padding: 40px 80px;
}
#voting ul {
	list-style: none;
	display: block;
	width: 256px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
#voting ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#voting p {
	text-align: center;
}
#project {
	font-size: 24pt;
}
.shady {
	font-size: 10pt;
	color: gray;
}
#vote-aye, #vote-nay, #vote-abs, a.action {
	color: black;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	margin: 2px 0;
	text-align: center;
	text-indent: 0;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.8);
}
#vote-aye {
	font-size: 32px;
	width: 120px;
	padding: 16px 0;
	color: rgb(91, 183, 91);
}
#vote-aye:hover {
	color: white;
	background-color: rgb(91, 183, 91);
}
#vote-nay {
	font-size: 32px;
	width: 120px;
	padding: 16px 0;
	color: rgb(189, 54, 47);
}
#vote-nay:hover {
	color: white;
	background-color: rgb(189, 54, 47);
}
#vote-abs {
	width: 244px;
	padding: 12px 0;
	font-size: 16px;
	color: rgb(248, 148, 6);
}
#vote-abs:hover {
	color: white;
	background-color: rgb(248, 148, 6);
}
#start {
	margin-top: 32px;
	font-size: 24px;
}
a.action {
	padding: 12px 16px;
	margin: 0 auto;
	color: rgb(0, 122, 255);
}
a.action:hover {
	color: white;
	background-color: rgb(0, 122, 255);
}
#progress-bar {
	width: 100%;
	background-color: white;
	border-radius: 8px; /* (height of inner div) / 2 + padding */
	padding: 3px;
}
#progress-bar span {
	display: block;
	background-color: rgb(0, 122, 255);
	width: 0%; /* Adjust with JavaScript */
	height: 10px;
	border-radius: 5px;
}
#results table {
	width: 100%;
}
#results table td {
	padding: 8px;
}
#results table thead td {
	color: white;
	background-color: rgb(0, 122, 255);
	padding: 12px 8px;
}
#results table thead td:hover {
	background-color: rgb(60, 182, 255);
	cursor: pointer;
}
#results table tbody tr:nth-child(even) {
	background-color: rgba(0, 122, 255, 0.1);
}
