html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: "merriweather", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #2c3e50;
}

* { box-sizing: border-box;}

a, a:visited {
	text-decoration: none;
	color: rgb(0, 0, 238);
}
a:hover {
	text-decoration: underline;
	color: rgb(0, 0, 238);
}

strong {
	color: #e74c3c;
	font-weight: normal;
}

.inner-container {
	width: 800px;
	margin: 0 auto;
}

.inner-container.centered {
	text-align: center;
}

.main-container {
	margin-bottom: 100px;
}

.btn {
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	text-transform: uppercase;
	font-family: "Lato", Helvetica, sans-serif;
	font-weight: bold;
	padding: 9px 20px 11px;
	display: inline-block;
	border-radius: 4px;
	background-color: #3498DB;
	color: #FFF;
}

.btn:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #5faee3;
}

.btn:active {
	background-color: #2487c9;
	-webkit-transform: translateY(1px);
	   -moz-transform: translateY(1px);
	    -ms-transform: translateY(1px);
	        transform: translateY(1px);
}


.btn.cta {
	border-radius: 40px;
	margin-top: 40px;
	padding: 20px 50px;
	font-size: 21px;
}

/* HEADER */

.main-title {
	font-family: "Lato", Helvetica, sans-serif;
	color: #e74c3c;
	margin-bottom: 40px;
}

.title-description {
	display: inline-block;
	float: right;
	margin-top: 19px;
	font-style: italic;
	font-family: "merriweather", serif;
	font-size: 18px;
	font-weight: 100;
	color: #bdc3c7;
}

/* HOME */

.highlight{
	background-color: #F3F3F3;
}

.home-pasos {
	display: table;
	padding-left: 0;
}

.home-pasos li{
	line-height: 1.4;
	font-size: 18px;
	padding: 218px 20px 40px;
	list-style-type: none;
	width: 270px;
	display: table-cell;
	text-align: center;
}

.home-pasos li.paso1 { 
	background: url(images/01-leycong.png) no-repeat 20px 20px;
	padding-left: 0;
}

.home-pasos li.paso2 {
	background: url(images/02-sino.png) no-repeat center 20px;
}

.home-pasos li.paso3 { 
	background: url(images/03-polits.png) no-repeat 40px 20px;
	padding-right: 0; 
}

/* FOOTER */

.main-footer {
	color: #FFF;
	bottom: 0;
	background: #2c3e50;
	width: 100%;
	left: 0;
	padding: 10px;
	font-size: 12px;
}

.main-footer .inner-container { position: relative;}

.logo-footer {
	font-family: "lato", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.main-footer a {
	color: #3498db;
}

#about-trigger {
	z-index: 20;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 28px;
	color: #e2e4e6;
}

#about-trigger:hover { color: #a7d3ef; }

#about {
	font-size: 14px;
	background: #34495e;
	color: #FFF;
	position: absolute;
	top: -220px;
	width: 500px;
	padding: 10px 30px;
	right: 0;
	z-index:-20;
	opacity: 0;
	-webkit-transition: all .1s ease-in, z-index 0s;
	   -moz-transition: all .1s ease-in, z-index 0s;
	    -ms-transition: all .1s ease-in, z-index 0s;
	     -o-transition: all .1s ease-in, z-index 0s;
	        transition: all .1s ease-in, z-index 0s;

}

#about.active {
	right: 5px;
	display: block;
	top: 54px;
	opacity: 0.9;
	z-index: 10;
}

#about:after {
	content: '';
	position: absolute;
	top: -15px;
	right: 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent #34495e transparent;
}

#about a {
	color: #a7d3ef;
}

a#about-close {
	color: #527395;
	font-size: 18px;
	position: absolute;
	top: 4px;
	right: 4px;
}

#voting ul {
	overflow: hidden;
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

#voting ul li {
	float: left;
	margin-right: 16px;
	padding: 0;
}

#project {
	font-size: 18pt;
	padding-top: 24px;
	margin-bottom: 0;
}
#date {
	margin-top: 0;
	font-size: 10pt;
	color: gray;
}
#question {
	padding-top: 32px;
	font-weight: bold;
}
#vote-aye, #vote-nay, #vote-abs {
	border-radius: 40px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-family: "lato", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 32px;
	height: 64px;
	line-height: 52px;
	margin: 0;
	padding: 4px 12px;
	text-align: center;
	text-transform: none;
	width: 128px;
}
#vote-aye { background-color: #1abc9c; }
#vote-aye:hover { background-color: #37e3c1; }
#vote-nay { background-color: #e74c3c; }
#vote-nay:hover { background-color: #ed7669;}

#vote-abs {
	border: 1px solid #bdc3c7;
	color: #abb2b7;
	font-size: 16px;
	width: 144px;
}